body {
    /* background: #855A5C; */
    background-image: linear-gradient(to right, #855A5C, #E0C879);
    margin: 1rem;
    padding: 1rem;
    max-width: 800px;
    margin: 2rem auto;
    font-family: "Open Sans", sans-serif;
}

header {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
    border-bottom: 2px solid orange;
    width: max-content;
}

ol {
    padding-left: 0px;
}

.crumb {
    margin-right: 2em;
    display: inline;
    background-color: rgb(155, 20, 20);
    border-radius: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    color: orange;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

img {
    max-width: 500px;
    align-self: auto;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow ', sans-serif;
    font-size: medium;
}

button {
    background-color: rgb(155, 20, 20);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.refferal-input {
    display: inline;
}

#refferal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li {
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    font-family: Verdana, sans-serif;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: rgb(151, 56, 56);
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: orange;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: rgb(185, 69, 69);
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: orange;
}